# foo.html - located in: templates/ajx/
<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
$(function() {
  var count = 0;
  $('#mybutton').click(function() {
      $.get('/ajx/mygetview', {'mydata': 'xyz'}, function(data) {
        $('#output').html(data); // append to inner html
        //alert(data);
    });
  });
  $('#mybutton2').click(function() {
      // You gotta include the csrf_token in your post data
      $.post('/ajx/mypostview', {'mydata': 'xyz', 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data) {
        $('#output').html(data); // append to inner html
        //alert(data);
    });
  });

  $('#mybutton3').click(function(event) {
      // You gotta include the csrf_token in your post data
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/ajx/myajaxview',
        data: {'mydata': 'xyz', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function (data, textStatus) {
            //alert(data, textStatus);
            $('#output').html(data); // append to inner html
        },
        error: function(xhr, status, e) {
            alert(status, e);
        }
    });
  });

  $('#myform').submit(function(event) {
    // You gotta include the csrf_token in your post data
    event.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/ajx/myajaxformview',
        dataType: 'json',
        data: $('#myform').serialize(), // serialize all your
        success: function (data, textStatus) {
            //alert(JSON.stringify(data), textStatus);
            count += 1;
            $('#output2').html("");
            $('#output2').html(count + " - You sent a ajax form post. Here's the data from server" + JSON.stringify(data)); // append to inner html
        },
        error: function(xhr, status, e) {
            alert(status, e);
        }
    });
  });

});
</script>
</head>
<body>
  <button id="mybutton"> Click me - GET </button>
  <button id="mybutton2"> Click me - POST </button>
  <button id="mybutton3"> Click me - AJAX </button>
  <div id="output"></div>

<br />
<br />

  <form id="myform" method="post" action="/rango/login/">
    {% csrf_token %}
    Field1: <input type="text" name="field1" value="" size="50" />
    <br />
    Field2: <input type="text" name="field2" value="" size="50" />
    <br />

    <input type="submit" value="Click me- AJAX form" /></input>
  </form>
  <div id="output2"></div>

</body>
</html>
