{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
About
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.min.css' %} " />
{% endblock %}

{% block body_block %}
<div class="container">

   <h1>About Us:</h1>
   <div>
      We are a group of energetic and positive students from the University of Glasgow looking to help travellers plan their vacation in Italy.<br />
      <p>You can use this webapp to search for or add specific attractions, or leave reviews, ratings, and comments.</p>
      <p>P.S. No, we're not all Italian!</p>
   </div>

   <div>
      <p></p>
      <h2>Team Members</h2>
      <p>Loris Rodigari</p>
      <p>Stefanos Sotiriou</p>
      <p>Katarina Turinicova</p>
      <p>Emily Hosokawa</p>
      <strong>{{ aboutmessage }} </strong><br />
   </div>

   <div>
	  <br>
	  <p>You can find the repository for this project <a href="https://gitlab.com/LRUoG/planmytrip">here</a>.</p>
</div>

</div>
{% endblock %}
