{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_attraction.min.css' %} " />
<script src=" {% static 'JS/mapSearch.js' %}"></script>
{% endblock %}

{% block title_block %}
Add Attraction
{% endblock %}

{% block body_block %}
<div class="container">
   <div class="row">
      <div class="col-12">
         <h1>Add an Attraction</h1>
      </div>
      <div class="row">
         <div class="col-6">

            <form id="attraction_form" method="post" action="{% url 'add_attraction' %}" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="col-12">
                  {{ form.name|as_crispy_field }}
               </div>
               <div class="col-12">
                  {{ form.province|as_crispy_field }}
               </div>
               <div class="col-12">
                  {{ form.region|as_crispy_field }}
               </div>
               <div class="col-12">
                  {{ form.category|as_crispy_field }}
               </div>
               <div class="col-12">
                  {{ form.description|as_crispy_field }}
               </div>
               <div class="col-12 picture-attraction">
                  {{ form.picture|as_crispy_field }}
               </div>
               <div class="col-12 d-none">
                  {{ form.position}}
               </div>
               {{ form.slug }}
               <div class="col-6">
                  <!-- <button type="button" name="button" class="btn btn-success">Create Attraction</button> -->
                  <input class="btn btn-success" type="submit" name="submit" value="Create Attraction" />
               </div>
            </form>
         </div>
         <div class="col-6">
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="map"></div>
         </div>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPoX9d6IA5elU9fw2hILwAms-3cn35c9I&libraries=places&callback=initAutocomplete" async defer></script>
      </div>
   </div>
</div>
{% endblock %}