{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
{{attraction.name}}
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/attraction.min.css' %} " />
<script src=" {% static 'JS/mapVisualise.js' %}"></script>
{% endblock %}


{% block body_block %}
<script type="text/javascript">
   var attraction_name_slug = "{{attraction.slug}}"
   var lat = "{{attraction.position.latitude}}"
   var lng = "{{attraction.position.longitude}}"
</script>
<div class="row outer-container">

   <!-- start attraction section -->
   <div class="col-12 col-md-9 left-side">
      <div class="row">
         <div class="card-div col-12">
            <div class="blog-card row">
               <h4 class="col-6">Region of {{attraction.region}}</h4>
               <h4 class="col-6">Category: {{attraction.category}}</h4>

               <!-- ATTRACTION PICTURE -->
               <div class="attraction-image col-lg-6 col-12">
                  <img src="{{ MEDIA_URL }}{{attraction.picture}}" />
               </div>
               <!-- END ATTRACTION PICTURE -->


               <!-- ATTRACTION TEXT -->
               <div class="attraction-text col-12 col-md-6">
                  <div class="row">
                     {% if user.is_authenticated %}
                     <div class="info-details col-12">
                        <button class="button button-like {% if liked %} liked {% endif %}" onclick="{% if liked %}unlikethis(){% else %} likethis() {% endif %}">
                           <i class=" fa fa-heart"></i>
                           <span>Like it</span>
                        </button>
                     </div>
                     {% endif %}
                     <div class="col-12">

                        <h3>Attraction: {{attraction.name}}</h3>
                        <p>{{attraction.description}}</p>
                     </div>
                  </div>
               </div>
               <!-- ATTRACTION TEXT END-->


               <!-- MAP AND AVG REVIW -->
               <div class="col-12">
                  <div class="row map-review">
                     <div id="google-map" class="d-block col-8">
                        <div id="map"></div>
                     </div>
                     <div class="review-details col-4">
                        {% if review_avg %}
                        <h3>Our Users think...</h3>
                        <p>Appeal</p>
                        <p>{{review_avg.appeal__avg}}</p>
                        <p>Price</p>
                        <p>{{review_avg.price__avg}}</p>
                        <p>Ease of Access</p>
                        <p>{{review_avg.ease_of_access__avg}}</p>
                        {% else %}
                        <h3>No reviews at the moment!</h3>
                        <p>Leave us a review</p>
                        {% endif %}
                     </div>
                  </div>
               </div>
               <!-- END MAP AND AVG REVIEW -->

            </div>
         </div>
      </div>
      <div class="col-12">
         <div class="review-item">
            {% if attraction.reviews.all %}
            <h4>Most recent reviews:</h4>
            {% for review in attraction.reviews.all %}
            <div class="review-container">
               <div class="row">
                  <div class="col-3">
                     <div class="row">
                        <div class="col-6 user-image">
                           <img src="{{MEDIA_URL}}{{review.user.profile.picture}}" alt="">
                        </div>
                        <div class="col-6">
                           <div class="row">
                              <div class="col-12">
                                 <a href="{% url 'inspect_profile' review.user.username %}">
                                    {{review.user.first_name}}
                                 </a>
                              </div>
                              <div class="col-12">
                                 {{review.date}}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-5">
                     {{review.text}}
                  </div>
                  <div class="col-4">
                     <p>Appeal: {{review.appeal}}</p>
                     <p>Price: {{review.price}}</p>
                     <p>Ease Of Access: {{review.ease_of_access}}</p>
                  </div>
               </div>
            </div>
            {% endfor %}
            {% endif %}

         </div>
      </div>
   </div>
   <!-- end attraction section -->


   <!-- start comment section -->
   {% if user.is_authenticated %}
   {% if user_review %}
   <div class="user_review col-12 col-md-3">
      <h1>Your Review on {{attraction.name}}</h1>
      <p>Price: {{user_review.price}}</p>
      <p>Appeal: {{user_review.appeal}}</p>
      <p>Ease of Access: {{user_review.ease_of_access}}</p>
      <h5>What you think about the place: </h5>
      <br>
      <p>{{user_review.text}}</p>
   </div>
   {% else %}

   <div class="col-12 col-md-3 review-section">
      <h3>Add a Review</h3>
      <form id="review_add_form" method="post" action="{% url 'show_attraction' attraction.slug %}">
         {% csrf_token %}
         {{ form.appeal|as_crispy_field }}
         {{ form.price|as_crispy_field }}
         {{ form.ease_of_access|as_crispy_field }}
         {{ form.text|as_crispy_field }}

         <input class="btn btn-success" type="submit" name="submit" value="Create Review" />
      </form>
   </div>
   {% endif %}
   {% endif %}
   <!-- end comment section -->

   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPoX9d6IA5elU9fw2hILwAms-3cn35c9I&libraries=places&callback=initMap" async defer></script>

</div>
{% endblock %}