<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>
      PlanMyTrip -
      {% block title_block %}
      {% endblock %}
   </title>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'css/base-nav.min.css' %} " />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   {% block header_block %}
   {% endblock %}

</head>

<body>

   <nav class=" navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'images/tricolore.png' %}">
         Rate My Italy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" style="z-index: 999;" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'browse' %}">Browse <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'most_popular' %}">Most Popular</a>
            </li>

         </ul>
         <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
               <a class="user-name">
                  <br>{{ user.username }}
               </a>
            </li>
            <li class="nav-item">
               <a class="user-picture nav-link" href="{% url 'profile' %}">
                  <img src="{{ MEDIA_URL }}{{user.profile.picture}}" alt="{{user.username}}"> </img>
               </a>
            </li>
            <li class="nav-item nav-image">
               <a class="nav-link" href="{% url 'logout' %}">
                  <img src="{% static 'images/logout-icon.png' %}" alt="Log Out">
               </a>
            </li>
            {% else %}
            <li class="nav-item">
               <br>
               <br>
               <a class="nav-link" href="{% url 'login' %}"><strong>Log In</strong></a>
            </li>
            <li class="nav-item nav-image">
               <a class="nav-link" href="{% url 'social:begin' 'facebook' %}">
                  <img src="{% static 'images/facebook-icon.png' %}" alt="Facebook Icon">
               </a>
            </li>
            <li class="nav-item nav-image">
               <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">
                  <img src="{% static 'images/google-icon.png' %}" alt=" Google+ Icon">
               </a>
            </li>
            {% endif %}
         </ul>
      </div>

   </nav>

   <div style="margin-top: 30px; ">
      {% block body_block %}
      {% endblock %}
   </div>
   <div class="row">

      <div class="footer col-12">
         <a href="{% url 'about' %}">About</a>
         <a href="{% url 'faq' %}">FAQ</a>
         <a href="{% url 'contact' %}">Contact</a>
      </div>
      <div class="footer-icon col-12" style="background-image: url({% static 'images/italia-icon.png' %});">
      </div>
   </div>


</body>

</html>