{% extends 'planmytrip/base.html' %}
{% load staticfiles %}

{% block title_block %}
Browse
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/browse.min.css' %} " />
<script src=" {% static 'JS/dropdown.js' %}"></script>
{% endblock %}

{% block body_block %}

<div class="col-12 greating">
   <p>Search for the most beautiful destinations in the world!</p><br />
   <div class="row filter-section">
      <div class="col-12 col-sm-3">
         <p>Select a Filter: </p>
      </div>
      <div class="col-sm-3 col-12">
         <select id="choice" class="form-control" onchange="getOptions()">
            <option selected>-----</option>
            <option value="region">Region</option>
            <option value="province">Province</option>
            <option value="category">Category</option>
         </select>
      </div>
      <div class="col-12 col-sm-3" id="search-options">
      </div>
      <div class="col-3">
         <button class="btn btn-outline-danger" type="button" onclick="getEverything()">Search</button>
      </div>
      <div class="col-12">
         <div class="row">
            <p class="col-12 col-sm-3">Search Attractions:</p>
            <div class=" col-12 col-sm-3">
               <input id="advSearch" type="text" class="form-control" placeholder="Advanced Search">
            </div>
            <div class="d-none col-sm-3 d-sm-block">

            </div>
            <div class="col-9 col-sm-3">
               <button class="btn btn-outline-danger" type="button" onclick="searchByAttraction()">Advanced Search</button>
            </div>
         </div>
      </div>

   </div>
</div>

<div class="row">
   <div class="col-lg-9">



      <!-- here start the Attraction display -->
      <div id="attr-container" class="row">
         {% if attractions %}
         {% for attraction in attractions %}
         <div class="col-12 col-sm-6">
            <div class="card-div">
               <a class="blog-card row" href="{% url 'show_attraction' attraction.slug %}">
                  <div class="post-image col-lg-6 col-12">
                     <img src="{{ MEDIA_URL }}{{attraction.picture}}" />
                  </div>
                  <div class="attr-details col-lg-6 col-12">
                     <p><b>Attraction:</b> {{attraction.name}}</p>
                     <p><b>Region:</b> {{attraction.region}}</p>
                     <p><b>Province:</b> {{attraction.province}}</p>
                     <p><b>Category:</b> {{attraction.category}}</p>
                  </div>
               </a>
            </div>
         </div>

         {% endfor %}
         {% else %}
         <strong>No attractions currently available.</strong>
         {% endif %}
         <!-- here finish the Attraction display -->
      </div>


   </div>


   <div class="col-lg-3 map-img">
      <div class="add-button">
         <a href="{% url 'add_attraction' %}"><button class="btn btn-info" name="button">Add Attraction</button></a>
      </div>
      <img src="{% static 'images/map-of-italy.gif' %}" alt="italy picture" style="background-color: white">
   </div>


</div>
</div>

{% endblock %}