{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Contact Us
{% endblock %}

{% block body_block %}
<div class="container">
   <p>Contact us at fictionalemail@somedomain.com</p>
</div>

{% endblock %}
