{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
{{attraction.name}}
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.min.css' %} " />
{% endblock %}


{% block body_block %}
<div class="container">
   <form class="user-form" action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{edit_user_form|crispy}}
      {{ edit_profile_form.as_p}}
      <input class="btn btn-success" type="submit" name="submit" value="Update Profile" />
   </form>
</div>

{% endblock %}