{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
FAQ
{% endblock %}

{% block body_block %}
<div class="container">

   <h1>FAQ</h1>
   <div>
      <h6><strong>For the advanced search, do I have to write the full attraction name or spell it correctly?</strong> </h6>
      <p>No, you don't. For example, if you type "Col" and then click Advanced Search, the results will return "Colosseum" and other attractions that have "Col" inside the name.</p>
   </div>
   <div>
      <h6><strong>Can I review the same attraction more than once?</strong></h6>
      <p>No, you can't--this is to prevent rating manipulation.</p>
   </div>
   <div>
      <h6><strong>How can I edit my profile information, like my picture?</strong></h6>
      <p>Click on your profile picture at the top right of the screen, then click on the edit Profile button.</p>
   </div>
   <div>
     <br>
     <br>
     <p>If your question isn't answered here, please contact us--we're always happy to help!</p>
   </div>
</div>
{% endblock %}
