{% extends 'planmytrip/base.html' %}
{% load staticfiles %}

{% block title_block %}
HomePage
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.min.css' %} " />
{% endblock %}

{% block body_block %}
<div class="welcome-text">

   <h1>Rate my Italy</h1>
   <h3>Bringing you the authentic Italian experience. <br></h3>
   {% if not user.is_authenticated %}
   <a href="{% url 'registration' %}">
      <button class="btn btn-outline-danger btn-lg" type="button" name="button">Sign Up</button>
   </a>
   {% endif %}

   <h3><br>Leave reviews. Browse for attractions. See what's trending. <br>
      Plan your trip, your way.</h3>

   <!-- <div class="container"> -->

   <div class="row">
      <!-- start carusel -->
      <div id="carouselHistory" class="col-12 col-sm-8 col-lg-6 col-xl-4 carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            {% with ''|center:history.count as range %}
            {% for i in range %}
            <li data-target="#carouselHistory" data-slide-to="{{forloop.counter}}" class="{% if forloop.first %} active {% endif %}"></li>
            {% endfor %}
            {% endwith %}
         </ol>
         <div class="carousel-inner">
            {% for history_item in history %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
               <a href="{% url 'show_attraction' history_item.slug %}">
                  <img class="carusel-image d-block w-100" src="{{MEDIA_URL}}{{history_item.picture}}" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                     <h5>{{history_item.name}}</h5>
                     <p id="attr-name">{{history_item.region}}</p>
                  </div>
               </a>
            </div>
            {% endfor %}
            <a class="carousel-control-prev" href="#carouselHistory" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHistory" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
      <!-- end carusel -->
      <!-- start carusel -->
      <div id="carouselSport" class="col-12 col-sm-8 col-lg-6 col-xl-4 carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            {% with ''|center:sport.count as range %}
            {% for i in range %}
            <li data-target="#carouselSport" data-slide-to="{{forloop.counter}}" class="{% if forloop.first %} active {% endif %}"></li>
            {% endfor %}
            {% endwith %}
         </ol>
         <div class="carousel-inner">
            {% for sport_item in sport %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
               <a href="{% url 'show_attraction' sport_item.slug %}">
                  <img class="carusel-image d-block w-100" src="{{MEDIA_URL}}{{sport_item.picture}}" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                     <h5>{{sport_item.name}}</h5>
                     <p id="attr-name">{{sport_item.region}}</p>
                  </div>
               </a>
            </div>
            {% endfor %}
            <a class="carousel-control-prev" href="#carouselSport" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselSport" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
         </div>
      </div>

      <!-- end carusel -->

      <!-- start carusel -->
      <div id="carouselNature" class="col-12 col-sm-8 col-lg-6 col-xl-4 carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            {% with ''|center:nature.count as range %}
            {% for i in range %}
            <li data-target="#carouselNature" data-slide-to="{{forloop.counter}}" class="{% if forloop.first %} active {% endif %}"></li>
            {% endfor %}
            {% endwith %}
         </ol>
         <div class="carousel-inner">
            {% for nature_item in nature %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
               <a href="{% url 'show_attraction' nature_item.slug %}">
                  <img class="carusel-image d-block w-100" src="{{MEDIA_URL}}{{nature_item.picture}}" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                     <h5>{{nature_item.name}}</h5>
                     <p id="attr-name">{{nature_item.region}}</p>
                  </div>
               </a>
            </div>
            {% endfor %}
            <a class="carousel-control-prev" href="#carouselNature" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselNature" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
         </div>
      </div>

      <!-- end carusel -->

   </div>
   <!-- </div> -->

   {% endblock %}