{% extends 'planmytrip/base.html' %}
{% load staticfiles %}

{% block title_block %}
Most Popular
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/most_popular.min.css' %} " />
{% endblock %}

{% block body_block %}

{% if best_appeal and most_liked and most_reviewed %}
<div class="row">

   <div class="col-12 col-lg-4">
      <div class="card-div">
         <h2>Biggest Appeal</h2>
         <a class="blog-card row" href="{% url 'show_attraction' best_appeal.slug %}">
            <div class="post-image col-12 col-sm-8 col-lg-12">
               <img class="image-attraction" src="{{ MEDIA_URL }}{{best_appeal.picture}}" />
            </div>
            <div class="attr-details col-12">
               <p>Attraction: {{best_appeal.name}}</p>
               <p>Region: {{best_appeal.region}}</p>
               <p>Province: {{most_liked.province}}</p>
               <p>Category: {{best_appeal.category}}</p>
            </div>
         </a>
      </div>
   </div>
   <div class="col-12 col-lg-4">
      <div class="card-div">
         <h2>Most Liked</h2>
         <a class="blog-card row" href="{% url 'show_attraction' most_liked.slug %}">
            <div class="post-image col-12 col-sm-8 col-lg-12">
               <img class="image-attraction" src="{{ MEDIA_URL }}{{most_liked.picture}}" />
            </div>
            <div class="attr-details col-12">
               <p>Attraction: {{most_liked.name}}</p>
               <p>Region: {{most_liked.region}}</p>
               <p>Province: {{most_liked.province}}</p>
               <p>Category: {{most_liked.category}}</p>
            </div>
         </a>
      </div>
   </div>
   <div class="col-12 col-lg-4">
      <div class="card-div">
         <h2>Most Reviewed</h2>
         <a class="blog-card row" href="{% url 'show_attraction' most_reviewed.slug %}">
            <div class="post-image col-12 col-sm-8 col-lg-12">
               <img class="image-attraction" src="{{ MEDIA_URL }}{{most_reviewed.picture}}" />
            </div>
            <div class="attr-details col-12">
               <p>Attraction: {{most_reviewed.name}}</p>
               <p>Region: {{most_reviewed.region}}</p>
               <p>Province: {{most_liked.province}}</p>
               <p>Category: {{most_reviewed.category}}</p>
            </div>
         </a>
      </div>
   </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="text-center container col-12">
   <a href="{% url 'add_attraction' %}"><button class="btn btn-info" name="button">Add Attraction</button></a>
</div>
{% endif %}
</div>
</div>

{% endblock %}