{% extends 'planmytrip/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{user.first_name}} Profile
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.min.css' %} " />
{% endblock %}

{% block body_block %}
<div class="container">
	<div class="row">
		<div class="profile-container col-12">
			<h3>You are visiting <strong>"{{profile.username}}"</strong></h3>
			<div class="row">
				<div class="profile-image col-6">
					<img src="{{MEDIA_URL}}{{profile.profile.picture}}" alt="profile picture">
				</div>
				<div class="col-6">

					<p>Name: {{profile.first_name}}</p>
				</div>
			</div>
		</div>
		<div class="attr-container col-12">
			<h1>What he Liked...</h1>
			<div id="attr-container" class="row">
				{% if attractions %}
				{% for attraction in attractions %}
				<div class="col-12 col-sm-6">
					<div class="card-div">
						<a class="blog-card row" href="{% url 'show_attraction' attraction.slug %}">
							<div class="post-image col-lg-6 col-12">
								<img src="{{ MEDIA_URL }}{{attraction.picture}}" />
							</div>
							<div class="attr-details col-lg-6 col-12">
								<p>Attraction: {{attraction.name}}</p>
								<p>Region: {{attraction.region}}</p>
								<p>Province: {{attraction.province}}</p>
								<p>Category: {{attraction.category}}</p>
							</div>
						</a>
					</div>
				</div>

				{% endfor %}
				{% else %}
				<strong>No attractions currently Liked.</strong>
				{% endif %}
				<!-- here finish the Attraction display -->
			</div>
		</div>


	</div>
</div>










{% endblock %}