{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Registration Page
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.min.css' %} " />
{% endblock %}

{% block body_block %}
<div class="container">
	<h1> If you want to plan your trip, you need to register ! </h1>
	<div class="row">
		<div class="col-12 col-md-8">

			<form id="member_form" method="post" action="{% url 'registration' %}" enctype="multipart/form-data">

				{% csrf_token %}

				{{ user_form.username|as_crispy_field }}
				{{ user_form.password|as_crispy_field }}
				{{ user_form.first_name|as_crispy_field }}
				{{ user_form.last_name|as_crispy_field }}
				{{ user_form.email|as_crispy_field }}
				{{ profile_form.picture|as_crispy_field }}

				<input class="btn btn-success" type="submit" name="submit" value="Register" />
			</form>
		</div>
	</div>
</div>
{% endblock %}