{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Login Page
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.min.css' %} " />
{% endblock %}

{% block body_block %}
<div class="container">

	<div class="login-form">
		<p>If you do not have an account, register <a class="nav-link" href="{% url 'registration' %}">here</a>.</p>

		<h2>Login</h2>
		<form method="post">
			{% csrf_token %}
			{{ form|crispy }}
			<!-- {{ form.as_p}} -->
			<button type="submit" class="btn btn-success">Login</button>
		</form>



	</div>
</div>

{% endblock %}
