{% extends 'planmytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title_block %}
Password Change Page
{% endblock %}

{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.min.css' %} " />
{% endblock %}

{% block body_block %}
<div class="container">

   <div class="password-form">

      <h2>Login</h2>
      <form method="post">
         {% csrf_token %}
         {{ form|crispy }}
         <!-- {{ form.as_p}} -->
         <button type="submit" class="btn btn-success">Change Password</button>
      </form>



   </div>
</div>
{% endblock %}