@import "bootstrap-4.0.0/scss/_functions.scss";
@import "bootstrap-4.0.0/scss/_variables.scss";
@import "bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

$rowcolor: #1a1a1a;

.attraction-image {

  margin-top: 20px;

  img {
    border-radius: 6px;
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.review-section {
  background-color: #a6a6a6;
  padding: 20px;
  border-radius: 6px;
}

.left-side {
  padding-right: 2%;
}

.map-review {
  padding-top: 3%;
}

.user_review {
  text-align: center;
  border-left: 2px solid black;
  padding-left: 10px;

}

#map {
  width: 100%;
  min-height: 300px;
  padding-top: 20px;
}

.user-image {
  img {
    border-radius: 10px;
  }
}

.review-details {
  text-align: center;
  border: 3px solid black;
  border-radius: 6px;
  padding-top: 20px;
  background-color: white;
}

.attraction-text {
  padding: 10px;
  margin-top: 20px;
}

.outer-container {
  margin: 20px;
}

.review-item {
  p {
    border-radius: 6px;
  }
}

.review-container {
  border: 2px solid black;
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
}

.user-image {
  img {
    width: 100%;
  }
}


// like button css
$dark-gray: #A9A9A9;
$alert-color: #D80000;

.button-like {
  border: 2px solid $dark-gray;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: $dark-gray;
  transition: all ease 0.4s;

  span {
    margin-left: 0.5rem;
  }

  .fa,
  span {
    transition: all ease 0.4s;
  }

  &:focus {
    background-color: transparent;

    .fa,
    span {
      color: $dark-gray;
    }
  }

  &:hover {
    border-color: $alert-color;
    background-color: transparent;

    .fa,
    span {
      color: $alert-color;
    }
  }
}

.liked {
  background-color: $alert-color;
  border-color: $alert-color;

  .fa,
  span {
    color: $white;

  }

  &:focus {
    background-color: $alert-color;

    .fa,
    span {
      color: $white;
    }
  }

  &:hover {
    background-color: $alert-color;
    border-color: $alert-color;

    .fa,
    span {
      color: $white;
    }
  }
}

// end like button css
