@font-face {
  font-family: 'BPreplay';
  font-style: normal;
  font-weight: normal;
  src: local('BPreplay'), url("fonts/BPreplay.woff") format('woff');
}
@font-face {
  font-family: 'BPreplay Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BPreplay Italic'), url("fonts/BPreplayItalics.woff") format('woff');
}
@font-face {
  font-family: 'BPreplay Bold';
  font-style: normal;
  font-weight: normal;
  src: local('BPreplay Bold'), url("fonts/BPreplayBold.woff") format('woff');
}
@font-face {
  font-family: 'BPreplay Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BPreplay Bold Italic'), url("fonts/BPreplayBoldItalics.woff") format('woff');
}
@import "bootstrap-4.0.0/scss/_functions.scss";
@import "bootstrap-4.0.0/scss/_variables.scss";
@import "bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

$bg-color: #e6e6e6;
$text-color: #1a1a1a;

body {
  font-family: BPreplay;
  color: $text-color;
  background: $bg-color;
  margin: 0;
  font-size: 0.8em
}

nav {
  width: 100%;
  height: 70px;
  font-size: 0.5em;
  font-family: BPreplay Italic;
  background: linear-gradient(to right, #009246, #e6e6e6, #ce2b37);
  border-radius: 6px !important;
  border-bottom: solid 2px black;
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.navbar-brand {
  img {
    max-width: 40px;
    margin-right: 20px;
  }
  @include media-breakpoint-up(md) {
    img {
      max-width: 50px;
    }
  }
}

.navbar a {
  color: black !important;
  font-size: 3em !important;
}

.navbar li {
  padding: 15px !important;
}

.collapse {
  @include media-breakpoint-down(md) {
    margin-top: 10px;
    margin-left: 0px;
    background-color: #ffc2b3;
    background-repeat: repeat-x;
    background-size: 100px;
    border-radius: 10px;
  }
}

.footer {
  text-align: center;
  padding: 30px;
}

.footer-icon {
  min-height: 80px;
  background-size: 135px;
}

.user-picture {
  img {
    margin:5px;
    max-height:60px;
    border-radius: 10px;
  }
}

.nav-image {
  a {
    img {
      margin:10px;
      max-height:60px;
    }
  }
}
