@import "bootstrap-4.0.0/scss/_functions.scss";
@import "bootstrap-4.0.0/scss/_variables.scss";
@import "bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

$text-color: #1a1a1a;
$bg-color: #e6e6e6;

.greating {
  font-size: 2.5em;
  text-align: center;
  .row {
    text-align: left;
    justify-content: center;
  }
}

.filter-section {
  background-color: white;
  border-radius: 20px;
  margin: 0px 20px;
  padding: 10px 20px;

  p {
    font-size: 0.7em;
  }
}

.jumbotron {
  background-color: inherit;
}

.card-div {
  border-radius: 6px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  :hover {
    opacity: 0.9;
  }
}

.post-image {
  max-width: 300px;

  img {
    border-radius: 6px;
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.blog-card {
  color: inherit;
  justify-content: center;
}

.blog-card:hover {
  text-decoration: none;
  color: inherit;
}

#attr-container {
  justify-content: center;
  padding-left: 4%;
  padding-right: 4%;
}

.map-img {
  text-align: center;
  img {
  border-radius: 10px;
  display: none;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 30px;
    padding: 0px;

    img {
      display: block;
      width: 90%;
    }
  }
}

.attr-details {
  text-align: center;
  border: 2px solid black;
  background-color: white;
  border-radius: 6px;
  max-width: 280px;
  min-height: 200px;
  padding: 5% 0px;

  p {
    margin: 0px;
  }
}

.add-button {
  margin-bottom: 30px;
}
