@import "bootstrap-4.0.0/scss/_functions.scss";
@import "bootstrap-4.0.0/scss/_variables.scss";
@import "bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

.welcome-text {
  padding-top: 10px;
  text-align: center;
}

.row {
  justify-content: center;
}

.carusel-image {
  max-height: 300px;
  min-height: 300px;
}

.carousel {
  margin-top: 30px;
}
