.container {
  justify-content: center;
  text-align: center;
}

.login-form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 50px;

  text-align: center;
  display: inline-block;
}

  h2 {
    font-style: italic;
  }
