@import "bootstrap-4.0.0/scss/_functions.scss";
@import "bootstrap-4.0.0/scss/_variables.scss";
@import "bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

$text-color: #1a1a1a;
$bg-color: #e6e6e6;


.card-div {
  border-radius: 6px;
  justify-content: center;
  text-align: center;
  padding: 4%;

  :hover {
    opacity: 0.9;
  }
}



.post-image {


  img {
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 6px;

  }
  @include media-breakpoint-up(lg) {

    align-items: center;
    justify-content: center;
  }
}

.blog-card {
  color: inherit;
  justify-content: center;
}

.blog-card:hover {
  text-decoration: none;
  color: inherit;
}

.attr-details {
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  padding: 5% 0px;

  p {
    margin: 0px;
  }
}
