@import "bootstrap-4.0.0/scss/_functions.scss";
@import "bootstrap-4.0.0/scss/_variables.scss";
@import "bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

.card-div {
  // border: 2px solid black;
  border-radius: 6px;
  // width: 100%;
  margin-top: 15px;
  justify-content: center;

  :hover {
    opacity: 0.9;
  }
}

.review {
  margin-top: 3%;
  justify-content: center;
  text-align: center;
}

.post-image {

  max-width: 300px;


  img {
    border-radius: 6px;
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.blog-card {
  color: inherit;
  justify-content: center;
}

.blog-card:hover {
  text-decoration: none;
  color: inherit;
}

.attr-container {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid 2px black;
}

.attr-details {
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  max-width: 280px;
  padding: 5% 0px;

  p {
    margin: 0px;
  }
}

.profile-image {
  max-width: 150px;

  img {
    border-radius: 6px;
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.profile-container {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: solid 2px black;
  h1 {
    text-align: center;
  }
}
